a:link {color:black;}
a:visited {color:black;}
a:hover {color:black;}
a:active {color:black;}

body {
    /*font-family: helvetica neue;*/
    font-family: "Comic Sans MS","Marker Felt";
}

#frontpage {
    margin-right: auto;
    margin-left: auto;
    width:100%;
    background-color:#FFFFFF;
}

#header {
    padding-top:15px;
    height:45px;
    background-color:#F82F7C;
}

#site_name {
    display: inline;
    margin-left:25px;
    font-weight:700;
    color: #FFFFFF;
    text-decoration:none;
}

#error {
    color: #FF0000;
    text-decoration:none;
}

#upvoteComment {
    color: #FF0000;
    text-decoration:none;
}

ul#navigation, ul#navigation li {
    display: inline;
}

#submit_article {
    float:right;
    margin-top:7px;
    margin-right:24px;
    color:#FCF66F;
    cursor: hand; 
    cursor: pointer;
    font-weight:500;
    font-size:12pt;
    display: inline;
}

#replyToComment {
    cursor: hand; 
    cursor: pointer;
}

.indicator {
    cursor: hand; 
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    height:100%;
}

.comments_section {
    font-size:10pt;
    padding: 0;
}

li.topic {
    padding-top:8px;
    padding-bottom:8px;
}

li.topic h3 {
    margin:0;
    padding:0;
}

li.topic a {
    text-decoration:none;
}

.topic_title {
    font-weight:400;
}

.topic_title a {

}

.comment {
    margin-left: 25px;
    margin-top: 10px;
}

ul.counts {
    margin: 0;
    padding: 0;
    font-size:9pt;
}

ul.counts li {
    display: inline;
    list-style-type:none;
}

#do_not_click_here {
    padding-top: 5px;
    padding-right: 5px;
    float:right;
    color: #ffffff;
}

#footer {
    height:35px;
    background-color: #F82F7C;
}
